:root{
    --mainYellow: rgb(255, 158, 9);
    --mainWhite: #fff;
    --mainDark: #222;
    --mainPink: rgb(250, 241, 246);
    --mainBlue: rgb(217, 228, 241);
    --mainGreen: rgb(13, 110, 18);
}

body {
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Courier New", Courier, monospace !important;
    letter-spacing: 0.25rem !important;
}

.text-green{
    color: var(--mainGreen);
}

.cart-icon{
    cursor: pointer;
    color: var(--mainGreen);
    font-size: 2rem;
}

.default-background{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5)) !important;
}

.alternative-background{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(117, 72, 4, 0.5)) !important;

}

.btn-yellow{
    color: var(--mainYellow);
    border-color: var(--mainYellow);
}

.btn-yellow:hover{
    background: var(--mainYellow);
    color: var(--mainWhite);
}

.btn-green{
    color: var(--mainGreen);
    border-color: var(--mainGreen);
}

.btn-green:hover{
    background: var(--mainGreen);
    color: var(--mainWhite);
}

.flower{
    background: var(--mainPink);
}

.contact{
    background: var(--mainBlue);
}